

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
   width: 100%;
   font-family: "Open Sans", sans-serif;
}
.hero {
    width: 80%;
    height: 100vh;
    background-image: url("./assets/bg-img.png");
    background-position: top left;
    background-size: cover;
    color: #ffffff;
    margin: 0 auto;
    padding: 0 50px
   }
.header{
    width: 100%;
    padding: 20px 0;
    display: flex;
   justify-content: space-around;
   align-items: center;
    }
.logo{
    width: 18%;
    cursor: pointer;
    
}
    
.nav{
    width: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a{
   width: 22%;
   text-decoration: none;  
   display: flex;
   align-items: center;
   font-size: 20px;
   font-family: "Open Sans", sans-serif;
   font-weight: 500;
   color: #ffffff;
}
.profile{
    width: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.hero-content{
    width: 40%;
    margin: 400px auto;
   

    h1{
      font-size: 70px;
      color: #ffffff;
      text-align: center;
      font-family: "Open Sans", sans-serif;
      font-weight: weight;
      line-height:  80px;
    }

    p{
      color: #ffffff;
      font-size: 14px;
      text-align: center;
      margin-top: 30px;
      font-family: "Open Sans", sans-serif;
      font-weight: weight;
      padding: 40px 0;

    }
}

.hero-cta button{
padding: 15px 20px;
background-color: #00A651;
color: #ffffff;
margin: 0 auto;
display: block;
/*it makes inline element behave like blocck so we cn centralize with margin*/
border-color: #00A651;
border-radius: 10px;
font-size: 23px;
font-family: "Open Sans", sans-serif;
font-weight: 600;

}
.service-wrap{
    padding: 70px 20px;
    width: 80%;
    margin: 0 auto;
    
}
.service-wrap h1{
text-align: center;
margin-bottom: 40px;
font-size: 40px;
}
.service-card-wrap{
    display: flex;
    gap: 50px;
}
.card{
    /* width: 376px; */
    /* height: 180px; */
    border-radius: 15px;
    padding: 30px 35px;
    margin: 0 auto;
    box-shadow: 0px 4px 16px 0px #00000026;

    h6{
      font-weight: 600;
      font-size: 25px;
      padding: 18px 0;

    }
    p{
      font-size: 16px;
    }

}
.bg-white{
    background-color: #ffffff;
}
.bg-grey{
    background-color: #f9f9f9;
}
.motto-wrap{
   width: 80%;
   margin: 0 auto;
   padding: 70px 5px;
   background: #0058530D;
   background-image: url("./assets/world_map_bg.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   
   h4{
   text-align: center;
   font-size: 46px;
   padding: 20px 0;
   }
   >p{
   text-align: center;
   font-size: 18px;
   }
    
}
  .motto-wrap-history{
    display: flex;
    justify-content: space-around;
    padding: 80px 50px;
     
 }
    .history{
        border: 1px solid #ffffff;
        width: 250px;
        height: 250px;
        border-radius: 13px;
        padding: 30px 25px;
        background-color: #ffffff;
        text-align: center;
        line-height: 38px;

        img{
         width: 43px;
        }

        h5{
         font-size: 40px;
         line-height: 69px;
         font-weight:800;
        }
        p{
         font-size: 22px;
         line-height: 29px;
         font-weight: 500;
        }
 }

 .destination-wrap{
   width: 80%;
   text-align: center;
   padding: 60px 0;
   margin: 0 auto;
   
   h2{
      font-size: 42px;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
   }
    
 }
 .popular-card-wrap{
   width: 100%;
    display: flex;
    gap: 200px;
    padding-right: 5%;
    padding-top: 70px;

    >img{
      width: 45%;
    }
  
    
 
 }
 .destination-card-wrap{
   display: flex;
   flex-direction: column;
   gap: 70px;
   margin-top: 100px;
   
}

 .destination-card{
    width: 100%;
    /* height: 150px; */
    border-radius: 15px;
    display: flex;
    gap: 50px;
    align-items: center;
    border:1px solid #ffffff ;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px 0px #00000014;

    p{
      font-size: 20px;
    }
   }

 .arrow{
    width: 20px;
    height: 20px;
 }
 
 .package-wrap{
width:80%;
padding: 30px 100px;
background: #ECF1F0;
margin: 0 auto;



 }
 .package-wrap h2{
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
    
 }
 .tabs{
    width: 100%;
    height: 60px;
    padding: 10px;
    margin-top: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

 }
 .tab{
width: 180px;
height: 60px;
border: 1px solid grey;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
background-color: #666666;
color: #f9f9f9;
font-size: 20px;
 }
 .bg-green{
    background-color: #00A651;
 }
 .place-card-wrap{
    width: 100%;
    padding: 10px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;

 }
 .place-card{
    width: 434px;
    height: 489px;
    border-radius:10px ;
    border: 1px solid #ffffff;
    background-color: #fff;
 }
 .place-card img{
    width:100%;
    height: 295px;
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
 } 
 .place-card-content{
    padding: 10px;

    p{
     font-size: 20px;
     
    }
   }
 .place-card-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    p{
      font-size: 25px;
    } 
 } 
 .place-card-location{
    width: inherit;
    height: 30px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
      width: 20px;
      height: 20px;
   }  
 } 
 .location-card{
    display: flex;
    align-items: center;
 }
 .country{
   font-size: 28px;
   font-weight: 600;
   font-family:"Open Sans", sans-serif;
 }
 
 .package-wrap button{
    padding: 20px 50px;
    background-color: #00A651;
    border: 1px solid #00A651;
    border-radius: 10px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    display: block;
    margin: 70px auto;
 }
 .next-trip-wrap{
    width: 80%;
    margin: 50px auto;
       
    h2{
      text-align: center;
      margin-top: 30px;
      font-size: 40px;
      font-weight: 700;
   
    }
    > p{
      text-align: center;
      margin-top: 5px;
      font-size: 24px;
      font-weight: 400;
 }
}

 .next-trip-container{
    width: 70%;
    /* height: 320px; */
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-right: 70px;
    background-color: #ffffff;
  
 }
 .next-trip-navigation{
    width: 50%;
    height: 350px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
 }
 
 .destination{
   width: 90%;
   display: flex;
   align-items: center;
 
   img{
      width: 66px;
    }
    h6{
      font-size: 18px;
      font-weight: 700;
      color: #5E6282;

    }
    p{
      font-size: 18px;
      font-weight: 400;
      color: #5E6282;
      padding: 7px 0;
    }
 }
 .destination-text{
   margin-left: 25px;
 }
 .next-trip-banner{
   width: 30%;
   height: 370px;
   background-color: rgba(250, 243, 243, 0.3);
   padding: 20px;
   line-height: 25px;
   box-shadow: 3px 3px 10px 0px #5E6282;
   border: 1px solid #fff;
   border-radius: 24px;
   position: relative;

   h5{
      font-size: 20px;
      color: #080809;
   }
   img{
      width: 100%;
      border-radius: 24px;
   }
   >p{
      font-size: 20px;
      color: #84829A;
      padding: 8px 0;
      
   }

   }
  
   .icons{
      width: 100%;
      margin-top: 10px;
   }
   .icons img{
      width: 36px;
      margin-left: 5px;
   }
   .people{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 15px;
   }
   .people-building{
      width: 45%;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .people img{
      width: 18px;
   }
   .people p{
      font-size: 18px;
      color: #84829A;
      font-weight: 500;
   }
   .position{
      position: absolute;
      top: 56%;
      left: 45%;
      width: 30%;
   }
   .about-us-wrap{
      background-color: #ECF1F0;
      width: 80%;
      margin: 0 auto;
      padding: 50px;
      position: relative;
      h2{
         font-size: 40px;
         text-align: center;
         font-weight: 700;
      }
   }
   .image-wrapper img{
      display: block;
      margin: 50px auto;
      
      
   }
   .joe-stanley-comment{
      position: absolute;
      width: 40%;
      padding: 70px 30px 20px;
      margin: 0 auto;
      background-color: #FFFFFF;
      border: 1px solid #FFFFFF;
      box-shadow: 0px 4px 59px 9px #0000000D;
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      top: 65%;
      left: 30%;

   }
   .joe-stanley{
      font-size: 22px;
      font-weight: 600;
      color: #000000;
      padding-top: 25px;
      
   }
   .stanlee-img{
      position: absolute;
      width: 7%;
      top: 50%;
      left: 47%;
   }
.bg-right{
   width: 7%;
   position: absolute;
   top: 20%;
   right: 0;
}
.bg-left{
   width: 7%;
   position: absolute;
   top: 20%;
   left: 0;
}
.bird-img{
   width: 1%;
   position: absolute;
   top: 38%;
   right: 12%;
}
footer{
   width: 80%;
   background-color: #FFFFFF;
   margin: 0 auto;
   padding: 50px;
   position: relative;
}
.send-icon{
   position: absolute;
   top: 2%;
   right: 16%;
}
.star-icon{
   position: absolute;
   right: 12%;
   top: 32%;
}
.subscribe-section-wrapper{
   width: 70%;
   margin: 0 auto;
   background-color: rgba(159, 255, 236, 0.2);
   padding: 70px;
   border-radius: 89px 20px 20px 20px;
     
   
   h4{
   font-size: 33px;
   color: #5E6282;
   text-align: center;
   font-weight: 600;
   line-height: 54px;
   font-family: "Open Sans", sans-serif;

   }
}
.cta-wrapper{
   width: 70%;
   display: flex;
   margin: 50px auto 10px;
   justify-content: space-between;

   button{
      color: #ffffff;
      background-color: #00A651;
      font-size: 17px;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
      padding: 20px 50px;
      border-radius: 10px;
      border-color: #00A651;
   
   }
   
}

.cta{
   width: 68%;
   border:1px solid #ffffff;
   display: flex;
   padding: 20px 10px;
   background-color: #ffffff;
   gap: 10px;
   align-items: center;
   border-radius: 10px;

   p{
      font-size: 16px;
      font-weight: 500;
      color: #39425D;
      font-family: "Montserrat", sans-serif;
   }
   
   
}

.footer-wrapper{
   font-family: "Open Sans", sans-serif;
   padding: 150px 50px;
   display: flex;
   justify-content: space-between;
 


  
   p{ 
     color: #5E6282;
     font-style: 18px;
     font-weight: 400;
     padding-bottom: 25px;
   
   }
}
.contact h6{
   margin-bottom: 45px;
   font-size: 22px;
   font-weight: 700;
}
.col-1{
   img{
      margin-left: 45px;
      margin-bottom: 30px;
      width: 35%;
    }

    p{
      font-size: 13px;
      font-weight: 600;
    }

} 
.footer-icons{
   display: flex;
   justify-content: space-between;
   
   img{
     margin-bottom: 15px;
   }
   
}
.col-5 p{
   font-size: 20px;
   font-weight: 400;
}

@media only screen and (max-width: 600px){
   .header{
      width: 10%;
      padding: 20px 0;
      align-items: center;
      }
   .logo{
      padding: 20px 0;
      
      }
   .hero{
      width: 100%;
   }
   .nav{
      display: none;
   }
   .profile{
      display: none;
   }
   .hero-content{
      width: 100%;
      margin: 40px auto;
     
  
      h1{
        font-size: 32px;
        color: #ffffff;
        font-family: "Open Sans", sans-serif;
        font-weight: weight;
        line-height:  40px;
      }
  
      p{
        color: #ffffff;
        font-size: 14px;
        margin-top: 30px;
        font-family: "Open Sans", sans-serif;
        font-weight: weight;
         
      }
  }
  .hero-cta button{
   margin: 80px auto 0;
   padding: 10px 15px;
   font-size: 15px;
   
   }

   .service-card-wrap{
      display: flex;
      flex-direction: column;
      gap: 50px;
  }
  .motto-wrap{
   width: 90%;
   margin: 0 auto;
   padding: 20px 5px;

   >h4{
      font-size: 26px;
   }
   >p{
      font-size: 16px;
   }
     
}
  .motto-wrap-history{
   display: flex;
   flex-direction: column;
   gap: 50px;
   
       
}
.history{
   width: 100%;

}
.destination-wrap{
   width: 100%;
   flex-direction: column;
    gap: 50px;
    padding: 5px;


    >img{
      display: block;
      width: 90%;
      margin: 0 auto;
    }

}
.popular-card-wrap{
   width: 100%;
   flex-direction: column;
    gap: 50px;
    padding-right: 5%;
    padding-top: 20px;

    >img{
      display: block;
      width: 90%;
      margin: 0 auto;
    }

}
.destination-card-wrap{
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 30px;
   margin-top: 10px;
   
}
.destination-card{
  
   padding: 15px;
   gap: 30px;

   p{
      font-size: 13px;
   }
   
}
.destination-img{
   width: 30%;
}
.destination-card{
   width: 100%;
  
  }
  .package-wrap{
   width: 100%;
   padding: 25px 20px;
     /* height: fit-content; */
        
    }
    .tabs{
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 10px;
      margin: 30px 0 150px;
      
  }
   .place-card-wrap{
      width: 100%;
      flex-direction: column;
      gap: 30px;
  
   }
   .place-card{
      width: 100%;
      
   }
   .package-wrap button{
      margin: 20px auto;
   }
   .next-trip-wrap{
      width: 100%;
      margin: 20px auto;
         
      h2{
        margin-top: 30px;
        font-size: 30px;
           
      }
      > p{
           margin-top: 15px;
       }
  }
  .next-trip-container{
   width: 90%;
   display: flex;
   margin: 20px auto;
   flex-direction: column;
   padding: 10px 20px;
  
}
.next-trip-navigation{
   width: 100%;
   height: 350px;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
}
.destination{
   width: 100%;
   display: flex;
   align-items: center;
   padding: 10px;
 
   img{
      width: 72px;
    }
    h6{
      font-size: 20px;
     
    }
    p{
      font-size: 18px;
      font-weight: 400;
    }
 }
 .next-trip-banner{
   width: 100%;
   margin: 140px auto 30px;
   padding: 15px;
   line-height: 22px;
 }
 .people-building{
   width: 53%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
 .position{
   display: none;
   }
   .about-us-wrap{
      width: 100%;
      margin: 20px auto;
      padding: 20px 10px 140px;
      
      h2{
         font-size: 40px;
      }
   }
   .image-wrapper img{
      display: block;
      margin: 20px auto;
      width: 100%;
          
   }
  
   .stanlee-images{
      display: none;

   }
   .joe-stanley-comment{
      position: absolute;
      width: 80%;
      padding: 30px 30px 20px;
      margin: 0 auto;
      font-size: 20px;
      font-weight: 400;
      line-height: 20px;
      top: 52%;
      left: 10%;

   }
   footer{
      width: 100%;
      padding: 20px;
   }
   .subscribe-section-wrapper{
      width: 100%;
      margin: 0 auto;
      padding: 10px;
      border-radius: 39px 20px 20px 20px;
      h4{
         font-size: 22px;
         line-height: 30px;
      }
        
   }
   .cta-wrapper{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: space-between;

   
      button{
         font-size: 17px;
         font-weight: 600;
         font-family: "Open Sans", sans-serif;
         padding: 10px 30px;
         width: 40%;
         display: block;
         margin: 20px auto;
              
      }
      
   }
   .cta{
      width: 80%;
      border:1px solid #ffffff;
      display: flex;
      padding: 20px 10px;
      margin: 0 auto;
      align-items: center;
      border-radius: 10px;
   
      p{
         font-size: 16px;
         font-weight: 500;
         color: #39425D;
         font-family: "Montserrat", sans-serif;
      }
         
   }

.send-icon{
  display: none;
}
.star-icon{
  display: none;
}
.footer-wrapper{
   font-family: "Open Sans", sans-serif;
   padding: 50px 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;

   p{ 
     color: #5E6282;
     font-style: 18px;
     font-weight: 400;
     padding-bottom: 5px;
   
   }
}
.col-1{

   img{
      margin-left: 25px;
      margin-bottom: 10px;
      width: 25%;
    }

    p{
      font-size: 13px;
      font-weight: 600;
    }
   }

.col-5{
   display: none;
}
.contact h6{
   margin: 10px 0;
   font-size: 22px;
   font-weight: 700;
}

}